/* ---------------------------- FONT IMPORTS -------------------------------------------------- */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/ssp.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/sspi.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 800;
	src: url(fonts/sspb.woff2) format('woff2');
}
@font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 800;
	src: url(fonts/sspbi.woff2) format('woff2');
}

/* ---------------------------- HOUSEKEEPING -------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Serif Pro';
	font-size: clamp(16px, 1.35vw, 30px);
}

html{scroll-padding-top: 160px;}

/* :root{} */

body {
	background-color: #f1f0f0;
	margin: 0;
	display: grid;
	grid-template-columns: 210px 1fr;
	grid-template-rows: 1fr;
	gap: 2rem 0;
	grid-template-areas: "Sidebar Main";
	/* display: flex;
	flex-direction: column; */
	/* overflow-x: hidden; */
}

/* ---------------------------- HEADER -------------------------------------------------------- */
header {
	grid-area: Sidebar;
	position: sticky;
	top:0;
	width:210px; height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #099cec;
	background: repeating-linear-gradient(-45deg, #099cec, #099cec 8px, #0997e4 8px, #0997e4 16px);
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	transition: all 400ms cubic-bezier(0.16, 0.68, 0.43, 0.99);
	animation: Gradient 60s infinite linear;
	background-size: 1250px 1250px;
}

@keyframes Gradient{
	0% {background-position-x:0%}
	100% {background-position-x:100%}
}

header img {
	height: 50px;
}

hgroup {padding-left: 15px;}

hgroup h1, hgroup h2, hgroup h2 i, nav label {
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	font-feature-settings: "onum", "pnum";
}

hgroup h1 {font-feature-settings: "c2sc", "smcp";}

/* ---------------------------- NAV ----------------------------------------------------------- */
nav {
	/* position:fixed; bottom: 5.3rem; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-height: 50%;
	/* z-index: 1; */
	/* background-color: #ffffff; */
	/* padding:20px; */
	/* border-top: 1px solid #041344; */
}

nav input {display: none;}
nav input:checked ~ .nav__list {display:grid;}
nav label {color: #ffffff;cursor: pointer;}

.nav__list {
	display: none;
	width: 100%;
	grid-template-columns: repeat(auto-fit, 1.25rem);
	justify-items: center;
	justify-content: space-between;
	list-style-type: none;
	background-color: #ffffff;
	border: 1px solid #041344;
	margin-top: 20px;
	padding: 10px;
	/* transition: background-color 5s ease-in; */
}

nav ul a{
	display: block;
	text-decoration: none;
	color: #000000;
	font-size: .5rem;
	padding: .5rem;
}

nav ul a:hover {
	font-weight: 800;
	color:#CA1E47
}
/* ---------------------------- ASIDE --------------------------------------------------------- */
aside {
	position: fixed; top: 0; left: 210px; width: calc(100% - 210px);
	background-color: #e3f9ff;
	border-bottom: 1px solid #041344;
	border-top: 3px solid #099cec;
	z-index: 2;
}

#info{
	width: 30rem;
	margin: 0 auto;
	position:relative;
	list-style-type: none;
	line-height: .9rem;
	/* overflow-x: hidden; */
	padding: 15px 25px;
}

#infobox{
	font-size:1rem;
	opacity:.2;
	/* text-align:center; */
	/* margin-left:-100px; */
}

#info li, a {
	font-size: .8rem;
	color: #041344;
	text-decoration: none;
}

#citation {
	font-size: .75rem;
	color: #CA1E47;
	width: 2.75rem;
	font-feature-settings: "lnum", "tnum";
	text-align: right;
	display: inline-block;
	padding-right: .5rem;
}

.entry{
	font-weight: bold;
	font-size: 1.1rem;
	line-height: 1.3rem;
}

em {
	font-style: italic;
	font-size: inherit;
}

b {
	color: #CA1E47;
	font-weight: bold;
	font-size: .75rem;
}

/* ---------------------------- MAIN ---------------------------------------------------------- */
main {
	grid-area: Main;
	margin: 160px auto 50px;
	width: clamp(375px, 30rem, 100vw);
	max-width: 100%;
}

section {
	padding: 25px 25px;
	background-color: #ffffff;
	border-radius: 3px;
}

p {
	line-height: 1.4rem;
	position: relative;
}

p::before, .textnote::before {
	position: absolute;
	left: -5rem;
	font-size: .75rem;
	bottom: -1px;
	color: #000000;
	content: attr(data-ln);
	width: 3rem;
	font-feature-settings: "lnum", "tnum";
	text-align: right;
	text-indent: 0;
	opacity:0.2;
}

p:hover::before {
	opacity:1;
	font-weight:bold;
	color: #CA1E47;
}

.textnote::before {
	content: "† " attr(data-ln);
}

section+section {
	margin-top: 2rem;
}

[data-ln]:nth-child(odd){
	text-indent:1.5rem;
}

[data-cite]:hover{
	color: #CA1E47;
	cursor: pointer;
}

.para{
	margin-top:1.5rem;
}

/* ---------------------------- RESPONSIVE ---------------------------------------------------- */

@media screen and (max-width:800px){

	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 0;
		grid-template-areas: "header" "nav" "aside" "main";
	}
	  
	header { grid-area: header;
		position: relative;
		width: 100%;
		height: auto;
	}
	header img {display:none}
	hgroup h1, hgroup h2 {display: inline-block;}
	  
	nav { grid-area: nav; }

	.nav__list {display: grid;}
	  
	aside {
		grid-area: aside;
		left:0; top: 0px;
		position: sticky;
		width:100%;
	}
	  
	main {
		grid-area: main;
		margin: 0 auto;
	}

}